html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    image-rendering: pixelated;
}

.full_screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.game {
    width: 100%;
    height: 100%;
    max-width: 133.33vh;
    max-height: 75vw;
    background-color: black;
    position: relative;
}

.tile {
    height: 100%;
}

.hidden {
    opacity: 0;
}

#imgLoaders > img {
    display: none;
}
canvas{
    height: 100%;
    transition: opacity 0.5s;
    position: absolute;
    top: 0;
    left: 0;
}
#dialog{
    background-color: brown;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: "Noto Sans";
}
#text{
    background-color: blue;
    height: 20vh;
    margin: 1vh;
    text-align: center;
    padding: 1vh;
}
#buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#btn1, #btn2{
    height: 10vh;
    margin: 1vh;
}
