html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    image-rendering: pixelated;
}

.full_screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.game {
    width: 100%;
    height: 100%;
    max-width: 133.33vh;
    max-height: 75vw;
    background-color: black;
}

.tile {
    height: 100%;
}
.gameTilemap {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    transition: opacity 0.5s;
}
.hidden {
    opacity: 0;
}

.player  {
    height: 100%;

}